<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand"><img src="assets/img/ngx-bootstrap.svg" class="logo"></a>
            <span class="navbar-brand">Angular + Redux</span>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a [routerLink]="['/store']">Stores <span class="sr-only"></span></a></li>
            <li><a [routerLink]="['/article']">Articles</a></li>
        </ul>
    </div>
</nav>