
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th class="col-sm-2">Actions</th>
        </tr>
    </thead>
    <tbody >
        <tr *ngFor="let store of (stores | async).stores">
            <td>
                <a href="#/product/1" class="">{{store.name}}</a>
            </td> 
            <td>{{store.address}}</td>
            <td class="actions">
                <a class="btn btn-warning pull-left" (click)="editStore(store)">Edit</a> 
                <a class="btn btn-danger pull-right" 
                    (click)="storesActions.deleteStore(store.id)" >Delete</a>
            </td>
        </tr>
    </tbody>
</table>
