<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th class="col-sm-2">Actions</th>
        </tr>
    </thead>
    <tbody >
        <tr *ngFor="let store of stores">
            <td>
                <a href="#/product/1" class="">{{store.name}}</a>
            </td> 
            <td>{{store.address}}</td>
            <td class="actions">
                <a href="#/product/1/edit" class="btn btn-warning pull-left">Edit</a> 
                <a href="#/product/1/delete" class="btn btn-danger pull-right">Delete</a>
            </td>
        </tr>
    </tbody>
</table>
